.container{
  position: relative;
  padding: 15px 0;
  font-size: 15px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left{
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 15px;
    .title{
      margin-left: 10px;
    }
  }
  .right{
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 15px;
  }
  .bottom{
    position: absolute;
    height: 1px;
    bottom: 0;
    left: 0;
    width: 100%;
    background: gray 1px;
    transform: scaleY(.1);
  }
}