.container{
  box-sizing: border-box;
  padding-bottom: 58px;
  height: 100vh;
  overflow: hidden;

  .headerBg{
    margin-bottom: 20px;
    height: 300px;
    width: 100vw;
    //background-image: url("");
    background: no-repeat;
    background-size:100% 100%;
  }

}
