$cardColor:var(--testColor,#3377f4);
$tColor:var(--textColor,#ffffff);
//$cardPad:var(--padd,)
.container{
  //overflow: scroll;
  overflow: hidden;
  background: #f6f6f6;
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
  header{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 10px 7px;
    background: #f6f6f6;
    //width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    .bottom{
      position: absolute;
      height: 1px;
      bottom: 0;
      left: 0;
      right: 0;
      background: gray;
      transform: scaleY(.1);
    }
  }
  main{
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    bottom: -20px;
    //overflow: hidden;
    //height: 100%;
    overflow: scroll;
    margin: 15px 0px 60px 15px;
    padding-right: 10px;
    //margin-bottom: 60px;
  }
  //.pr{
  //  padding-right: 70px;
  //}
  //.pl{
  //  padding-left: 70px;
  //}
  .Chat{
    padding-bottom: 15px;
    display: flex;
    .conRight{
      flex-direction: row-reverse;
    }
    .headImag{
      width: 50px;
      height: 50px;
      border-radius: 4px;
    }
    .Alert{
      //max-width: 700px;
      color: $tColor;
      margin-top: 15px;
      //margin-left: 13px;
      border-radius: 4px;
      padding: 10px 10px;
      box-sizing: border-box;
      background: $cardColor;
      //width: 280px;
      word-wrap: break-word;
      position: relative;
      .triangle{
        width: 10px;
        height: 10px;
        background:$cardColor;
        position: absolute;
        transform: rotate(45deg);
        //left: -5px;
        top: 12px;
      }
    }
    .leftAlert{
      margin-left: 13px;
    }
    .rightAlert{
      margin-right: 13px;
    }
    .triangleLeft{
      left: -5px;
    }
    .triangleRight{
      right: -5px;
    }


  }
  .footer{

    background: #f6f6f6;
    //background: pink;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45px;
    display: flex;
    align-items: center;
    padding: 2px 8px;
    input{
      margin-left: 10px;
      margin-right: 10px;
      flex: 1;
      width: 240px;
      background: #ffffff;
      height: 30px;
      border-radius: 4px;
      box-sizing: border-box;
      padding:0 10px ;
      border: none;
      outline: none;
      font-size: 14px;
    }
    .line{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: gray;
      transform: scaleY(0.2);
    }
  }
}
