.container{
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  box-sizing: border-box;
  //padding-left: 20px;
  padding-top: 90px;
  //padding-right: 20px;
  //margin-top: 10px;
  .title{
    text-align:center;
    margin-bottom: 60px;
  }
  .header{
    height: 40px;
  }
  .userInput{
    font-size: 17px;
    border: none;
    border-bottom: 1px solid gray;
    width: 80vw;
    margin-top: 25px;
    outline: none;
  }
}

.button{
  font-size: 13px;
  left: 0;
  right: 0;
  margin: 80px auto;
  border-radius: 20px;

  padding: 10px;
  width: 75vw;
  border: none;
  color:#ffffff;
  //margin-top: 20px;
  background: skyblue;
}

